################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/FooBarQixKata/obj
/FooBarQix/obj
/.vs/FooBarQix/v15
/.vs/FooBarQixKata/v15
/FooBarQix/FooBarQix.Test/obj
/FooBarQix/bin/Debug/netcoreapp2.0
/FooBarQix.Test/bin/Debug/netcoreapp2.0
/FooBarQix.Test/obj
